# Hybrid BIOS+EFI bootable USB image.
#
# Layout (MBR, first partition at the 1 MiB default offset):
#   * MBR boot code + grub core.img in the MBR gap (512 .. 1 MiB) -> legacy BIOS
#   * partition 1: FAT32 ESP (type 0xEF) carrying /bzImage, the EFI binaries
#     under /EFI/BOOT (bootx64.efi + bootia32.efi, grub.cfg next to them) and
#     /boot/grub/grub.cfg for the BIOS core (whose embedded prefix is
#     (hd0,msdos1)/boot/grub -- see BR2_TARGET_GRUB2_BOOT_PARTITION default)
#   * partition 2: ext4 rootfs with the fixed UUID from the defconfig
#
# grub-bios.cfg and grub-efi.cfg have identical content; they are installed
# separately only because the two firmwares look for grub.cfg in different
# places. All commands they use (linux/boot) are built into both grub images,
# so no module files need to be staged on the FAT.
image seedsigner-boot.vfat {
  vfat {
    files = {
      "bzImage"
    }

    file EFI/BOOT/bootx64.efi {
      image = "efi-part/EFI/BOOT/bootx64.efi"
    }

    file EFI/BOOT/bootia32.efi {
      image = "efi-part/EFI/BOOT/bootia32.efi"
    }

    file EFI/BOOT/grub.cfg {
      image = "grub-efi.cfg"
    }

    file boot/grub/grub.cfg {
      image = "grub-bios.cfg"
    }

    label = "SEEDSIGNOS"
  }
  size = 32M
}

image seedsigner_os.img {
  hdimage {
  }

  partition mbrboot {
    in-partition-table = false
    image = "boot.img"
    offset = 0
    size = 512
    holes = {"(440; 512)"}
  }

  partition grubcore {
    in-partition-table = false
    image = "grub.img"
    offset = 512
  }

  partition boot {
    partition-type = 0xEF
    bootable = "true"
    image = "seedsigner-boot.vfat"
  }

  partition rootfs {
    partition-type = 0x83
    image = "rootfs.ext2"
  }
}
